:root{--navi-color:#2196F3;
      --color-class: #212121;
      --color-main:#ffffff;
      --edge-padd:94px;
      --fif-mar:50px;
      --third-mar:30px;
    }

body {
    font-family: 'Roboto', 'sans-serif';
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}


 p, h1, h2, h3, h4, h5, h6{
     margin: 0;
 }

 ul, li{
     margin: 0;
     padding-left: 0;
 }

 .conteiner{
   width: 1200px; 
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
 }

 /*спрятать*/
 .visually-hidden{
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0000);
     overflow: hidden;
 }

.dot-non {
    list-style: none;
}

 .ital-non{
     font-style: normal;
    }

    .cange{
    color: var(--color-class);
    }

    .change-foot{
        color: var(--color-main);
    }

    .bl-color{
        color:var(--color-class);
    }

    .header {
        background: var(--color-main);
        text-decoration: none;
        padding-top: 32px;
        padding-bottom: 32px;
     }

     .header .conteiner{
         display: flex;
         align-items: center;
     }

.header-logo { 
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--navi-color);
    text-decoration: none;
    margin-right: 93px;
}

.header-link{
 
}
.header-link:not(:last-child){margin-right: var(--fif-mar);}

.header-mouse {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--color-class);
text-decoration: none;
 }

 .header-mouse:hover {
    color: var(--navi-color);
}
.header-mouse:focus {
    color: var(--navi-color);
}

.header-list{
    display: flex;

}

.header-contakt{
    margin-left: auto;
}

.header-adress {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--navi-color);
text-decoration: none;
 }

.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
margin-left: var(--fif-mar);
 }


.name {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
 }

.name-idia {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--color-main);
margin-bottom: var(--third-mar);
 }

.name-click {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: block;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--color-main);
background: #2196F3;
border-radius: 4px;
padding: 10px 32px;
min-width: 200px;
margin: 0 auto;

 }

.duty {
    padding-top:var(--edge-padd);
}

.duty-item {
    /*display: inline-block;*/
 }
.duty-item:not(:last-child){
    margin-right: var(--third-mar);
}

.duty-flex{
    display: flex;
}
.duty-must {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
 }

.work {
    padding-top: var(--edge-padd);
    padding-bottom: var(--edge-padd);
 }

.work-name {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--color-class);
margin-bottom: var(--fif-mar);
 }

 .work-foto{
     display: flex;
 }
 .work-item { }
.work-item:not(:last-child){margin-right: var(--third-mar);}


.team { 
    background: #F5F4FA;
    padding-top: var(--edge-padd);
    padding-bottom: var(--edge-padd);
}

.team-flex{
    display: flex;
}

.team-profettional {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--color-class);
margin-bottom: var(--fif-mar);
 }


.team-item { 
background-color: #ffffff;
}
.team-item:not(:last-child){margin-right: var(--third-mar);}


.team-smoler{
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em; 
    
}

.team-name {
line-height: 1.19;
/* identical to box height */
color:var(--color-class);
margin-bottom: 10px;
}

.team-bl{
    color:var(--color-class);
    border-radius: 4px;
    display: inline-block;
    padding: 6px 22px;

}

.team-bl:not(:last-child){
    margin-right: var(--third-mar);
}

.team-bl:hover {
    background-color: var(--navi-color);
}

.team-bl:focus {
    background-color: var(--navi-color);
}

.click-prt{
    line-height: 1.6; 
}

.til-text{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575;

}

.team-position {
text-align: center;
padding: 30px 60px;

}

.footer {
    background: #2F303A;
    text-decoration: none;
padding-top: 60px;
padding-bottom: 60px;
 }

.footer-name {
font-family: Raleway, Calibri;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--navi-color);
text-decoration: none;
display: inline-block;
margin-bottom: 20px;
 }

.link-view {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer-space{}
.footer-space:not(:last-child){
    margin-bottom: 9px;
}
.footer-item-map {
color: var(--color-main);
display: inline-block;
text-decoration: none;

 }

.footer-item-mail {
color: rgba(255, 255, 255, 0.6);
display: inline-block;
text-decoration: none;
 }

.footer-tel {
color: rgba(255, 255, 255, 0.6);
display: inline-block;
text-decoration: none;
 }

 /* портфолио */
 .pic-list{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
 }

 .betveen{
     padding-top: 100px;
     padding-bottom: 114px;
 }

 .main-click {
    text-decoration: none;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
 }

    .team-flex{
   
    }

    .team-line{
        margin-left: auto;
        margin-right: auto;
    }
 }
.team-space{

}
.team-space:not(:last-child){
    margin-right: 10px;
}

.indent-flex{
    display: flex;
    flex-wrap: wrap;
}

 .indent-box{
     margin-bottom: var(--fif-mar);
     border: 1px solid #EEEEEE;
 }

 .indent-box:not(:nth-child(3n)){
     margin-right: 10px;
 }

 .indent-box:nth-last-child(-n+3){
    margin-bottom: 0;
}

 .indent-in{
     padding: 20px 24px;
 }

 .space-pic{
     display: inline-block;
     margin-bottom: 20px;
 }